body{
    margin: 0;
    padding: 0;
    background: url(../images/bg.jpg) no-repeat;
    background-size: cover;
}

.box{
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Century Gothic',sans-serif;
    border-radius: 5px;
}

.box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}

.box h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
}

ul{
    margin: 0;
    padding: 0;
}

.box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
}

.box ul:last-of-type li a{
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
}

.box ul:last-of-type li a:hover{
    color: #b9b9b9;
}

.box .link ul li a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    transition: all ease-in-out 250ms;
    text-transform: uppercase;
    margin: 20px;
}

.box .link ul li a:hover{
      color: #b9b9b9;
}
  
.box .link{
    background: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    width: 200px;
    float: left;
}

.link:last-of-type{
    margin-left: 50px;
}

  
  